.collection {
	flex: 1;
	
	.form {
		align-items: start;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	.field {
		display: flex;
		flex-direction: column;
	}

	/*
	ol,
	li {
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}
	*/
}
