.control {
	&.odd {
		background: light-dark(rgb(207, 207, 207), rgb(47, 47, 47));
	}

	&.even {
		background: light-dark(rgb(223, 223, 223), rgb(31, 31, 31));
	}
}

.list-control,
.locale-control,
.object-control {
	align-items: start;
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}
