.hero {
	display: flex;
	justify-content: center;

	> div {
		align-items: center;
		display: flex;
		gap: 6rem;
		max-width: 1536px;
	
		> div:first-child {
			display: grid;
			gap: 1rem;
			grid-template-areas: "a a b b ."
				". c c d d";
			grid-template-columns: 2rem 1fr 2rem 1fr 2rem;

			> :first-child {
				align-self: end;
				grid-area: a;
			}
			
			> :nth-child(2) {
				align-self: end;
				grid-area: b;
			}
			
			> :nth-child(3) {
				grid-area: c;
			}
			
			> :last-child {
				grid-area: d;
			}
		}
	}

	img {
		border-radius: .5rem;
		box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
			rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
		width: 14rem;
	}
	
	h1 {
		font-size: 3.75rem;
		font-weight: 900;
    	line-height: 1;
    	margin-bottom: 1rem;
	}
	
	p {
		color: rgb(75, 85, 99);
		line-height: 1.625;
		margin-bottom: 2rem;
		padding: 0 .5rem;
	}
	
	a {
		border-radius: 9999px;
		box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
		font-size: 1.125rem;
		line-height: 1.75rem;
		padding: .5rem 1.5rem;

		&:first-child {
			background: rgb(65, 179, 163);
			color: white;
		}
		
		&:last-child {
			background: rgb(229, 231, 235);
			margin-left: .5rem;
		}
	}
}
